.box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  
}

.main {
  display: flex;
  justify-content: space-between;
}

.sub-main {
  display: flex;
}

.mr-5 {
  margin-right: 5px;
}